.idea/
*.pyc
flySpider/huxiu/huSpider/build/
flySpider/huxiu/huSpider/dbs/
flySpider/huxiu/huSpider/eggs/
flySpider/huxiu/huSpider/project.egg-info/
flySpider/huxiu/huSpider/setup.py
flySpider/huxiu/huSpider/twistd.pid

flySpider/infzm/infzmSpider/build/
flySpider/infzm/infzmSpider/dbs/
flySpider/infzm/infzmSpider/project.egg-info/
flySpider/infzm/infzmSpider/setup.py
flySpider/infzm/infzmSpider/twistd.pid

flySpider/ifeng/ifengSpider/build/
flySpider/ifeng/ifengSpider/dbs/
flySpider/ifeng/ifengSpider/eggs/
flySpider/ifeng/ifengSpider/project.egg-info/
flySpider/ifeng/ifengSpider/setup.py
flySpider/ifeng/ifengSpider/twistd.pid

flySpider/ifeng/ifengUrlSpider2/log.log

flySpider/ifeng/ifengUrlSpider/build/
flySpider/ifeng/ifengUrlSpider/dbs/
flySpider/ifeng/ifengUrlSpider/eggs/
flySpider/ifeng/ifengUrlSpider/project.egg-info/
flySpider/ifeng/ifengUrlSpider/setup.py
flySpider/ifeng/ifengUrlSpider/twistd.pid

flySpider/ifeng/ifengUrlSpider2/isports/cache.txt
flySpider/ifeng/ifengUrlSpider2/isports/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/itech/cache.txt
flySpider/ifeng/ifengUrlSpider2/itech/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/inews/cache.txt
flySpider/ifeng/ifengUrlSpider2/inews/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/imil/cache.txt
flySpider/ifeng/ifengUrlSpider2/imil/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/ihistory/cache.txt
flySpider/ifeng/ifengUrlSpider2/ihistory/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/ifinance/cache.txt
flySpider/ifeng/ifengUrlSpider2/ifinance/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/ifashion/cache.txt
flySpider/ifeng/ifengUrlSpider2/ifashion/finished_id.csv
flySpider/ifeng/ifengUrlSpider2/ient/cache.txt
flySpider/ifeng/ifengUrlSpider2/ient/finished_id.csv