.idea/
*.pyc
flySpider/huxiu/huSpider/build/
flySpider/huxiu/huSpider/dbs/
flySpider/huxiu/huSpider/eggs/
flySpider/huxiu/huSpider/project.egg-info/
flySpider/huxiu/huSpider/setup.py
flySpider/huxiu/huSpider/twistd.pid

flySpider/infzm/infzmSpider/build/
flySpider/infzm/infzmSpider/dbs/
flySpider/infzm/infzmSpider/project.egg-info/
flySpider/infzm/infzmSpider/setup.py
flySpider/infzm/infzmSpider/twistd.pid

flySpider/ifeng/ifengSpider/build/
flySpider/ifeng/ifengSpider/dbs/
flySpider/ifeng/ifengSpider/eggs/
flySpider/ifeng/ifengSpider/project.egg-info/
flySpider/ifeng/ifengSpider/setup.py
flySpider/ifeng/ifengSpider/twistd.pid

flySpider/ifeng/ifengUrlSpider2/log.log

flySpider/ifeng/ifengUrlSpider/build/
flySpider/ifeng/ifengUrlSpider/dbs/
flySpider/ifeng/ifengUrlSpider/eggs/
flySpider/ifeng/ifengUrlSpider/project.egg-info/
flySpider/ifeng/ifengUrlSpider/setup.py
flySpider/ifeng/ifengUrlSpider/twistd.pid


scripts/send_email_cache.txt
scripts/.deep_cache_finished.csv.swp
scripts/test.txt
scripts/pos_file.txt
scripts/log.txt
scripts/map.json
scripts/.deep_cache_finished.csv.swp
scripts/abstract_file.txt
scripts/clean_file.txt
scripts/deep.csv
scripts/deep.py
scripts/deep_cache.txt
scripts/deep_cache_finished.csv

